* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #606060;
  background: url(background.png);
}

a {
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  -ms-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease;
  color: #a0a0a0;
  text-decoration: none;
}

footer {
  background: white;
  border-top: 4px solid #F9B727;
  position: fixed;
  padding: 8px;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 12px;
}

footer img {
  border: 0;
  border-radius: 4px;
  float: left;
  width: 30px;
  height: 30px;
  margin: 15px;
}

footer p {
  padding-top: 24px;
}

footer a {
  font-weight: bold;
}

.themes {
  width: 180px;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -55px;
}

.themes strong {
  margin-right: 4px;
}

.arrow {
  -webkit-transition: background .1s ease;
  -moz-transition: background .1s ease;
  -ms-transition: background .1s ease;
  -o-transition: background .1s ease;
  transition: background .1s ease;
  cursor: pointer;
  color: white;
  background: #808080;
  width: 15px;
  height: 15px;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  line-height: 19px;
  overflow: hidden;
  position: absolute;
  top: 24px;
}

.arrow.up {
  left: -42px;
}

.arrow.down {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  left: -24px;
}

#main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

header p {
  -webkit-transition: opacity .5s ease;
  -moz-transition: opacity .5s ease;
  -ms-transition: opacity .5s ease;
  -o-transition: opacity .5s ease;
  transition: opacity .5s ease;
  position: absolute;
  left: 50%;
  bottom: 50px;
  margin-left: -91px;
  text-align: center;
  padding: 10px 15px;
  width: 182px;
  z-index: 40;
  border-radius: 6px;
  color: white;
  background: #808080;
  font-size: 12px;
  opacity: 0;
}

header p.visible {
  opacity: 1;
}

@media 
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  h1 {
    text-shadow: none;
  }
}

article {
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -ms-perspective: 600px;
  -o-perspective: 600px;
  perspective: 600px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

section {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  background: #c0c0c0;
  border-radius: 5px;
  width: 512px;
  height: 380px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -256px;
  margin-top: -220px;
  opacity: 0;
}
body,
section.bespoke-slide {
  -webkit-transition: -webkit-transform .7s ease, opacity .7s ease, background-color .7s ease;
  -moz-transition: -moz-transform .7s ease, opacity .7s ease, background-color .7s ease;
  -ms-transition: -ms-transform .7s ease, opacity .7s ease, background-color .7s ease;
  -o-transition: -o-transform .7s ease, opacity .7s ease, background-color .7s ease;
  transition: transform .7s ease, opacity .7s ease, background-color .7s ease;
}

section.bespoke-slide{
  //padding: 10px;
}

section.bespoke-active {
  opacity: 1;
  z-index: 1;
}
section.bespoke-inactive {
  pointer-events: none;
  z-index: 0;
}

.bespoke-progress-bar{
  margin-top: 12px;
  background: #F9B727;
  height: 4px;
}

.loading{
  display: none;
  text-align: center;
}

#finalslide{
  width: 800px;
  position: absolute;
  left: 50%;
  margin-left: -400px;
}

#pie{
  text-align: center;
}

.aboutyou p{
  margin-left: 30px;
}

.offer div{
  text-align: center;
}

#home-first, #home-second, #home-third{
  padding: 120px 0;
}

#fade{
  margin: 40px 0 40px;
}

#chart{
  display: block;
  margin: 0 auto;
  width: 80%;
}

.circular{
  width: 200px;
  height: 200px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border: 2px solid #F9B727;
}

.howweinvest, .whoarewe{
  margin: 120px 0;
}

.howweinvest div{
  text-align: center
}

.inner{
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  position: relative;
  text-align: left !important;
}

.outer{
  position: relative;
  display: table;
  height: 300px;
  vertical-align: middle;
  float: left;
}

@media only screen and (max-width: 768px) {
/*  body {
    font-size: 10px;
  }

  h1 {
    margin-top: -95px;
  }

  h2 {
    font-size: 14px;
    margin-top: 22px;
  }*/

  header p {
    font-size: 10px;
    bottom: 40px;
    padding: 6px 12px;
  }

  footer {
    height: 50px;
  }

  footer img {
    height: 30px;
    width: 30px;
    margin: 10px;
  }

  footer p {
    padding-top: 19px;
  }

  .arrow {
    top: 18px;
  }

  #forkme a {
    font-size: 11px;
    padding: 0.7em;
  }

  section {
    margin-top: -216px;
  }

  a,
  .arrow {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }

  body,
  section.bespoke-slide {
    -webkit-transition: -webkit-transform .7s ease, opacity .7s ease;
    -moz-transition: -moz-transform .7s ease, opacity .7s ease;
    -ms-transition: -ms-transform .7s ease, opacity .7s ease;
    -o-transition: -o-transform .7s ease, opacity .7s ease;
    transition: transform .7s ease, opacity .7s ease;
  }
}

.container{
  width: 100%;
}


@media only screen and (max-width: 640px) {

  footer .credits p {
    position: relative;
    top: -6px;
    width: 160px;
  }

}

@media only screen and (max-width: 570px) {

/*  h1 {
    -webkit-transform: scale(0.27);
    -moz-transform: scale(0.27);
    -ms-transform: scale(0.27);
    -o-transform: scale(0.27);
    transform: scale(0.27);
    margin-top: -94px;
  }

  h2 {
    font-size: 12px;
    margin-top: -7px;
  }*/

  article {
    -webkit-transform: scale(0.5) translateY(-27px);
    -moz-transform: scale(0.5) translateY(-27px);
    -ms-transform: scale(0.5) translateY(-27px);
    -o-transform: scale(0.5) translateY(-27px);
    transform: scale(0.5) translateY(-27px);
  }

  .themes {
    left: auto;
    right: -88px;
  }

  .themes strong {
    display: block;
  }

  .themes .colon {
    display: none;
  }

  footer p {
    position: relative;
    top: -8px;
  }

  footer .credits p {
    width: 160px;
  }

  footer .themes p {
    width: 110px;
  }

}