<template name='home'>
  <div class='container'>
    <div id='home-first' class='row'>
      <div class='col-xs-8 col-xs-offset-2'>

        <div class='row'>
          <div class='col-md-12'>
            <h2>Professional Investment Advise Doesn’t Need to Cost A lot</h2>
            <p>We are portfolio investors.  This reduces the risk of stock investing and high costs of commissions.  See what we recommend for you. </p>
            <br/>
            <a class="finish btn btn-default btn-lg">Create my portfolio</a>
            <br/>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div id="fade" class='container'><div class='row'><div class='col-md-10 col-md-offset-1'>
    <ul class="nav nav-pills nav-justified">
      <li class='active' ><a href="/">HOME</a></li>
      <li><a href="/whoarewe">WHO ARE WE?</a></li>
      <li><a href="/howweinvest">HOW WE INVEST?</a></li>
      <li><a href="/">FAQ</a></li>
    </ul>
  </div></div></div>

  <div class='container'>
    <div id='home-second' class='row'>
      <div class='col-xs-8 col-xs-offset-2'>

        <div class='row'>
          <div class='col-xs-12'>
            <h2>How Do Fees Affect Your Portfolio Value</h2>
            <p>The average investment advisor charges 1.8% per year and the average mutual fund that an advisor will buy for you charges about 1% per year.  See how that would have affected your wealth the last ten years (ending in 2012)</p>
            <br/><br/>
            <img id='chart' src='chart.png' />
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class='container'>
    <div id='home-third' class='row'>
      <div class='col-xs-8 col-xs-offset-2'>

        <div class='row'>
          <div class='col-xs-12'>
            <h2 style='text-align: center'>What we offer</h2>
            <br/><br/><br/>
          </div>
        </div>

        <div class='row offer'>
          <div class='col-xs-4'>
            <img src='offer21.png' />
            <p>Advisory fee of 0.5% - bottom 1% of industry</p>
          </div>

          <div class='col-xs-4'>
            <img src='offer22.png' />
          <p>No commissions</p>
          </div>

          <div class='col-xs-4'>
            <img src='offer23.png' />
            <p>Fully diversified risk based portfolios - you tell us how much risk you want we’ll do the rest</p>
          </div>

          <div class='col-xs-4'>
            <img src='offer24.png' />
            <p>Automated rebalancing to keep your portfolio on track</p>
          </div>

          <div class='col-xs-4'>
            <img src='offer25.png' />
            <p>24/7 online access so you always know how your portfolio is doing</p>
          </div>

          <div class='col-xs-4'>
            <img src='offer26.png' />
            <p>Live customer service for those occasions you want to speak to someone</p>
          </div>

        </div>
      </div>

    </div>
  </div>

</template>