<template name='howweinvest'>
<div class='container'>
  <div class='row'>
    <div class='col-xs-8 col-xs-offset-2'>

      <div class='row howweinvest'>
        <div class='col-md-6 outer'>
          <div class="inner">
          <p>
          <b>Portfolios diversified across various asset classes.</b>  We use a diversification strategy to create client portfolios.  This lowers the volatility of a portfolio’s return and ultimately increases its return over time.  
          </p>
          </div>
        </div>
        <div class='col-md-6'>
          <img src='howweinvest-01.png' />
        </div>
      </div>

      <div class='row howweinvest'>
        <div class='col-md-6'>
          <img src='howweinvest02.png' />
        </div>

        <div class='col-md-6 outer'>
          <div class='inner'>
          <p>
            <b>Optimized to your risk tolerance.</b>  Our portfolios are optimized for the maximum expected returns for its amount of risk.  When we determine the amount of risk that you are comfortable with in your portfolio, our software will find the mix of assets with the highest expected return for you.  It’s the optimal balance between risk and reward.
          </p>
          </div>
        </div>
      </div>

      <div class='row howweinvest'>
        <div id='invest03' class='col-md-6 outer'>
          <div class='inner'>
          <p>
            <b>Strategic rebalancing.</b>  Over time your portfolio’s asset allocation will incur “drift” as the value of the various asset classes fluctuate.  It’s important to keep your portfolio’s asset allocation close to its intended target so we will strategically rebalance the weights back to its target when they drift “too far.”  This is not based on a time schedule but rather a balance between implied risk vs intended risk, tax consequences, and costs.  
          </p>
          </div>
        </div>

        <div class='col-md-6'>
          <img src='howweinvest-03.png' />
        </div>
      </div>

      <div class='row howweinvest'>
        <div class='col-md-6'>
          <img src='howweinvest-04.png' />
        </div>

        <div class='col-md-6 outer'>
          <div class='inner'>
          <p>
            <b>Low cost ETFs and advisory fees.</b>  The easiest thing an investor can do to increase their returns is to lower the cost of their investments.  That’s why we use Exchange Traded Funds (ETFs) for our portfolios.  ETFs are tax efficient, liquid assets that charge an average of 0.20% management fee versus an actively managed mutual with an average charge of 1%.  And because we want you to achieve your investment goals we have a simple pricing plan of just 0.50% of your account asset value with no commissions or other management fees.  The bottom line is you pay less and keep more of your money.
          </p>
          </div>
        </div>
      </div>

      <div class='row howweinvest'>
        <div class='col-md-6 outer'>
          <div class='inner'>
          <p>
            Our investable list of ETFs have been researched and voted on by the firm’s Investment Committee for suitability.  Suitability means the ETF sufficiently tracks its benchmark, is low cost, has ample liquidity for our portfolios, and managed by a reputable investment manager.
          </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</template>