<template name="questionaire">
<div class='classic'>

  <article id="presentation">
    {{#each questions}}
     <section>
      <h2>{{question}}</h2>
      <div>
        {{#each answers}}
        <div class="radio">
          <label>
            <input type="radio" name="as" value="{{point}}">
            {{answer}}
          </label>
        </div>
        {{/each}}
      </div>
      <button type="button" class="next btn btn-default btn-lg">Next</button>
      </section>
    {{/each}}

    <section>
      <h2>How much would you like to start investing?</h2>
      <br/>
      <input id="amount" type="text" class="form-control input-lg" placeholder="Enter Amount">
      <br/>
      <button type="button" class="finish btn btn-default btn-lg">Create my plan</button>
    </section>

    <section>
      <div class='loading'>
        <h1>Please wait while we create your investment portfolio...</h1>
        <br/>
        <img src='loading.gif'/>
      </div>
    </section>

    <section id="finalslide">
      {{> finalslidev2}}
    </section
    
  </article>
</div>
</template>

<template name='finalslidev2'>
  <div class='container'>
  {{#if finalyet}}
    <h2>Congratulations!  Here is your customized portfolio</h2>
    <br/>
  
    <div class='row'>
      <!-- <div class="col-xs-offset-1 col-xs-10 aboutyou"> -->
      <div class='col-xs-3'>
        <div>
        {{> aboutyou}}
        </div>
        <br/><br/>
      </div>

      <div class="col-xs-6">
        <div id="chart1"></div>
        <div id='tablee'></div>
      
        <table class="table">
          <tr>
            <th>Asset Class</th>
            <th>ETF Symbol</th>
            <th>Weight</th>
            <th>Value</th>
          </tr>
          {{#each breakdown}}
          <tr>
            <td>{{class}}</td>
            <td>{{name}}</td>
            <td>{{value}}</td>
            <td>${{test value}}</td>
          </tr>
          {{/each}}
        </table>

      </div>

      <div class="col-xs-3">
        <table class='table' style='text-align: center;'>
          <tr>
            <td>Cost of ETFs</td>
            <td><b>0.3%</b></td>
          </tr>
          <tr>
            <td>Advisory Fee</td>
            <td><b>0.5%</b></td>
          </tr>
          <tr>
            <td>Total Cost</td>
            <td><b>0.8%</b></td>
          </tr>
        </table>
      </div>

    </div>

    <div class='row'>
      <div class="col-md-8 col-md-offset-2">
          <br/><br/><br/><br/>
          {{#if done}}
          <h4>Email Sent! Please check your inbox as soon as possible!</h4>
          {{else}}
          <h4>Please enter your email address to join something</h4>
          <br/>
          <div class="input-group input-group-lg">
            <input id="email" type="text" class="form-control" placeholder="Enter email address">
            <span class="input-group-btn">
              <button id='submit' class="btn btn-default" type="button">Submit</button>
            </span>
          </div><!-- /input-group -->
          {{/if}}
          <br/><br/><br/><br/>
      </div>
    </div>

  {{/if}}
  </div>
</template>

<template name='aboutyou'>
  <h3>Here's what we know about you,</h3>
  {{#with final}}
    <p>are <b>{{[0].answer}}</b> years old</p>
    <p>have <b>{{[1].answer}}</b> investment experience</p>
    <p>want to invest for <b>{{[2].answer}}</b></p>
    <p>are more likely to <b>{{[3].answer}}</b> after a significant decline in the stock</p>
    <p>have a new worth of <b>{{[4].answer}}</b></p>
    <p>with liquid assets of <b>{{[5].answer}}</b></p>
  {{/with}}
</template>