<template name="questionaire">
<div class='classic'>

  <article id="presentation">
    {{#each questions}}
     <section>
      <h2>{{question}}</h2>
      <div>
        {{#each answers}}
        <div class="radio">
          <label>
            <input type="radio" name="as" value="{{point}}">
            {{answer}}
          </label>
        </div>
        {{/each}}
      </div>
      <button type="button" class="next btn btn-default btn-lg">Next</button>
      </section>
    {{/each}}

    <section>
      <h2>How much would you like to start investing?</h2>
      <br/>
      <input id="amount" type="text" class="form-control input-lg" placeholder="Enter Amount">
      <br/>
      <button type="button" class="finish btn btn-default btn-lg">Create my plan</button>
    </section>

    <section>
      <div class='loading'>
        <h1>Please wait while we create your investment portfolio...</h1>
        <br/>
        <img src='loading.gif'/>
      </div>
    </section>

    <section id="finalslide">
      {{> finalslidev2}}
    </section
    
  </article>
</div>
</template>

<template name='finalslidev2'>
  <div class='container'>
  {{#if finalyet}}
    <h2>Congrats, Here is your customized portfolio! Enjoy!</h2>
    <br/>
  
    <div class='row'>
      <div class="col-xs-offset-1 col-xs-9 aboutyou">
        {{> aboutyou}}

        <br/><br/>
        <table class='table' style='text-align: center;'>
          <tr>
            <td>Cost of ETFs</td>
            <td>0.3%</td>
          </tr>
          <tr>
            <td>Advisory Fee</td>
            <td>0.5%</td>
          </tr>
          <tr>
            <td>Total Cost</td>
            <td>0.8%</td>
          </tr>
        </table>

      </div>
    </div>

    <div class='row'>
      <div class="col-xs-8 col-xs-offset-2">
        <div id="chart1"></div>
      
        <table class="table">
          <tr>
            <th>Asset Class</th>
            <th>ETF Symbol</th>
            <th>Weight</th>
            <th>Value</th>
          </tr>
          {{#each breakdown}}
          <tr>
            <td>{{class}}</td>
            <td>{{name}}</td>
            <td>{{value}}</td>
            <td>${{test value}}</td>
          </tr>
          {{/each}}
        </table>
        <br/><br/><br/><br/>
      </div>
    </div>

  {{/if}}
  </div></div>
</template>

<template name='aboutyou'>
  <h3>Here's what we know about you,</h3>
  {{#with final}}
    <p>are <b>{{[0].answer}}</b> years old</p>
    <p>have <b>{{[1].answer}}</b> investment experience</p>
    <p>want to invest for <b>{{[2].answer}}</b></p>
    <p>are more likely to <b>{{[3].answer}}</b> after a significant decline in the stock</p>
    <p>have a new worth of <b>{{[4].answer}}</b></p>
    <p>with liquid assets of <b>{{[5].answer}}</b></p>
  {{/with}}
</template>

<template name="finalslide">
  {{#if finalyet}}

  <h2>Congratulations, <br/>Here's your investment portfolio catered to you!</h2>
        <br/>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-12'>
        <div id='pie'></div>
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-4 col-md-4 col-lg-4'>
        {{#each final}}
          <p>{{answer}} / {{point}}</p>
        {{/each}}
        <br/>
      </div>
      <div class='col-xs-8 col-md-8 col-lg-8'>
        <table class="table">
          <tr>
            <td>SPY</td>
            <td>23%</td>
            <td>{{test ".23"}}</td>
          </tr>
          <tr>
            <td>IWD</td>
            <td>7%</td>
            <td>{{test ".07"}}</td>
          </tr>
          <tr>
            <td>EFA</td>
            <td>20%</td>
            <td>{{test ".2"}}</td>
          </tr>
          <tr>
            <td>VWO</td>
            <td>5%</td>
            <td>{{test ".05"}}</td>
          </tr>
          <tr>
            <td>TLT</td>
            <td>10%</td>
            <td>{{test ".1"}}</td>
          </tr>
          <tr>
            <td>LQD</td>
            <td>12%</td>
            <td>{{test ".12"}}</td>
          </tr>
          <tr>
            <td>HYG</td>
            <td>5%</td>
            <td>{{test ".05"}}</td>
          </tr>
          <tr>
            <td>BWX</td>
            <td>13%</td>
            <td>{{test ".13"}}</td>
          </tr>
          <tr>
            <td>CASH</td>
            <td>5%</td>
            <td>{{test ".05"}}</td>
          </tr>
          <tr>
            
            <td>TOTAL</td>
            <td></td>
            <td>{{test "1"}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <br/><br/><br/>
  {{/if}}
</template>