<template name="whoarewe">
  <div class='container'>
    <div class='row'>
      <div class='col-md-8 col-md-offset-2'>

        <div class='row whoarewe'>
          <div class='col-md-12'>
          <p>We believe that professional investment advice should be not be expensive and accessible to everyone.  Using our experience as portfolio managers we designed software to offer the same investment strategies offered by the oldest and most sophisticated investment advisors and private wealth managers in the industry for a fraction of what they charge.  Whether you are just starting to invest or investing for much of your career we will create and manage an investment portfolio that suits your needs best, for a price that is in the bottom 1% of the industry.</p>
          </div>
        </div>

        <div class='row whoarewe'>
        <div class='col-md-12'>
          <h2>Our Team</h2>
          <br/><br/>
          <div class='row'>
            <div class='col-md-3'>
              <img class='circular' src='placeholder.png' />
            </div>
            <div class="col-md-8 col-md-offset-1">
              <br/>
              <p>
                <b>Peter Yuen, Founder and CEO.</b>  Peter spent the first fifteen years of his career with the largest wealth managers in the world, at Merrill Lynch, US Trust, and UBS.  There he gained experience developing investment portfolios for real clients with real needs.  A lifelong New Yorker he earned a Bachelors of Science from New York University, a Masters Degree from Columbia Business School, is a CFA charterholder and member of the New York Society of Security Analysts.
              </p>
            </div>
          </div>
        </div>
        </div>

        <div class='row whoarewe'>
        <div class='col-md-12 '>
          <div class='row'>
            <div class='col-md-3'>
              <img class='circular' src='placeholder.png' />
            </div>
            <div class="col-md-8 col-md-offset-1">
              <br/>
              <p>
              <b>John Ryu, Co-Founder.</b>  A seasoned startup operating executive with early stage investment experience, John has been an Advisor at Scout Ventures since 2011. He focuses on consumer internet, mobile, and ad tech.  John graduated from Yale University with BA in Economics and UC Berkeley with an MBA from the Haas School of Business.
              </p>
            </div>
          </div>
        </div>
        </div>


      </div>
    </div>
  </div>
</template>